@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --hue-1: 213;
  --bg-color: #f8f9fa;

  /* Main color */
  --bleu-electric: #007bff;

  /* Hover effect */
  --bleu-clair: #339dff;

  /* Text, Title, background color dark */
  --bleu-nuit: #1b1f3b;

  /* Card background color */
  --bleu-pastel: #a7c7e7;

  --main-color-1: var(--bleu-electric);
  --main-color-2: var(--bleu-clair);
  --text-color-primary: var(--bleu-nuit);
  --text-color-secondary: var(--bleu-canard);
  --card-bg: var(--bleu-pastel);

  --margin-bottom: 2rem;
}

body {
  background: linear-gradient(to bottom, var(--bg-color), var(--bg-color));
  color: var(--text-color-primary);
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  overflow-x: hidden;
}

button {
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
}
.button-primary {
  background-color: var(--main-color-1);
  color: var(--bg-color);
}
.button-primary:hover {
  background-color: var(--main-color-2);
}
.button-secondary {
  color: var(--main-color-1);
  background-color: transparent;
  position: relative;
  border: 1px solid var(--main-color-1);
}
.button-secondary:hover {
  color: var(--main-color-2);
  border: 1px solid var(--main-color-2);
  transform: scale(1.01);
}

h1 {
  font-size: 2.5rem;
  font-weight: 500;
}

h2 {
  font-size: 1.5rem;
  font-weight: 400;
}

h3 {
  font-size: 1rem;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: var(--color-primary);
}
a:hover {
  color: var(--text-color-secondary);
}

.container {
  max-width: 1536px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

section {
  height: 100vh;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}
