.card {
  background-color: var(--bg-color);
  border-radius: 15px;
  padding: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  transition: transform 0.3s ease;
}


/* Only for portfolio section */
.portfolio .card {
  transition: transform 0.3s ease;
}

.portfolio .card:hover {
  transform: scale(1.05);
  cursor: pointer;
}
/* End of portfolio section */

.card__header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.card__icon {
  display: flex;
  color: var(--main-color-2);
  font-size: 2rem;
}

.card__title {
  color: var(--text-color-primary);
  text-align: center;
  width: 100%;
}

.card__description {
  color: var(--text-color-tertiary);
  font-size: 1rem;
  font-weight: 300;
}

.card__tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 1rem;
}

.card__tag {
  background-color: var(--card-bg);
  color: var(--text-color-primary);
  padding: 0.3rem 0.8rem;
  border-radius: 15px;
  font-size: 0.9rem;
}

.card__image {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.card__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: filter 0.3s ease;
}

.card:hover .card__image img {
  filter: brightness(0.7);
}

.card__image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  opacity: 0;
  transition: opacity 0.3s ease;
}

/* Sur desktop : affichage au hover */
@media (hover: hover) {
  .card:hover .card__image-overlay {
    opacity: 1;
  }
}

/* Sur mobile : affichage permanent avec opacité réduite */
@media (hover: none) {
  .card__image-overlay {
    opacity: 1;
    background: rgba(0, 0, 0, 0.3);
  }
  
  .card__overlay-icon {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.card__overlay-icon {
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  font-size: 1.5rem;
  transition: transform 0.3s ease;
  padding: 0.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card__overlay-icon:hover {
  transform: scale(1.2);
}

.card__link {
  margin-top: auto;
  text-align: center;
  text-decoration: none;
}

/* Ajouter l'effet scale uniquement pour les cards dans la section portfolio */
.portfolio .card {
  transition: transform 0.3s ease;
}

.portfolio .card:hover {
  transform: scale(1.05);
  cursor: pointer;
}
